.card{
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0,0.5) !important;
    color: #e0e0e0 !important;
}

table{
    color: #e0e0e0 !important;
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0,0.5) !important;
}

td{
    color: #b7b7b7 !important;
}


