@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(53, 44, 44, 0.5) !important;
    backdrop-filter: blur(12px);
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #f81c4c;
}

.social_icon span:hover{
    color: rgb(0, 173, 253);
    cursor: pointer;
}

.card-header img{
    justify-content: center;
    width: 450px;
}

.card-header h3{
    color: rgb(255, 255, 255);
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #f81c4c;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #f81c4c;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: rgb(0, 173, 253);
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    --webkit-appearance: none;
    margin: 0;
}
